header {
    background-color: #004869;
    background-image: url("https://www.transparenttextures.com/patterns/escheresque.png");
    padding: 5px 15px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

header h1 {
    color: #fff;
    font-family: "McLaren", cursive;
    font-weight: 200;
}

body {
    margin: 0%;
}